.container {
    width: 100vw;
    height: 100vh;
    background-color: #090909;
    
}

.title .name {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "metrophobic", sans-serif;
    font-size: 5.5vh;
    color: bisque;
    letter-spacing: 5px;

    box-shadow: 0 0 5px 1.5px bisque;
    text-shadow: 0 0 5px,
                 0 0 7px;

    width: 100%;
    height: 10vh;

    transition: .3s;

    animation-name: none;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes title {
    0% {}
    10% {text-shadow: 0 0 0px;}
    13% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    15% {text-shadow: 0 0 0px;}
    17% {text-shadow: 0 0 0px;}
    20% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    23% {text-shadow: 0 0 0;}

    30% {text-shadow: 0 0 0px;}
    33% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    45% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    47% {text-shadow: 0 0 0px;}

    55% {text-shadow: 0 0 0px;}
    57% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    60% {text-shadow: 0 0 0px;}
    62% {text-shadow: 0 0 0px;}
    65% {text-shadow: 0 0 7px;
         text-shadow: 0 0 10px;
         text-shadow: 0 0 20px;}
    70% {text-shadow: 0 0 0;}
    100% {}
}
@keyframes title2 {
    0% {text-shadow: 0 0 0;}
    25% {text-shadow: 0 0 5px;}
    50% {text-shadow: 0 0 10px;
         text-shadow: 0 0 13px;
         text-shadow: 0 0 15px;}
    75% {text-shadow: 0 0 5px;}
    100% {text-shadow: 0 0 0;}
}
.title .name:hover {
    text-shadow: 0 0 5px,
                 0 0 7px;
    letter-spacing: 10px;
    box-shadow: 0 0 10px 3px bisque;
}



/*DESC DESC*/
/*DESC DESC*/
/*DESC DESC*/
.desc .s {
     display: flex;
     justify-content: space-evenly;
     align-items: center;

     position: absolute;
     top: 90vh;
     width: 100vw;
     height: 5vh;

     font-family: "metrophobic", sans-serif;
     font-size: 2vh;
     color: rgb(255, 250, 250, 0.3);
}



/*COLLECTION*//*COLLECTION*/
/*COLLECTION*//*COLLECTION*/
.collection1 {
     position: absolute;

     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: nowrap;
    
     min-width: 0;
     position: absolute;
     top: 10vh;

     width: 100vw;
     height: 90vh;

     overflow-x: scroll;
     scrollbar-color: bisque transparent;
     scrollbar-width: thin;
}
.collection1 .img1 {
     background-image: url(assets/Serendipity.jpg);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

     width: 30vw;
     height: 60vh;

     transition: 0.5s;
}
.collection1 .img1:hover {
     filter: drop-shadow(0 0 30px bisque );
     width: 33vw;
     height: 65vh;
}
.collection1 .img2 {
     background-image: url(assets/Sunroof.jpg);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

     width: 25vw;
     height: 60vh;

     transition: 0.5s;
}
.collection1 .img2:hover {
     filter: drop-shadow(0 0 30px bisque );
     width: 28vw;
     height: 65vh;
}
.collection1 .img3 {
     background-image: url(assets/NightChanges.jpg);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

     width: 30vw;
     height: 60vh;

     transition: 0.5s;
}
.collection1 .img3:hover {
     filter: drop-shadow(0 0 30px bisque);
     width: 33vw;
     height: 65vh;
}
.collection1 .img4 {
     background-image: url(assets/GolderHour.jpg);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

     width: 28vw;
     height: 60vh;

     transition: 0.5s;
}
.collection1 .img4:hover {
     filter: drop-shadow(0 0 30px bisque);
     width: 30vw;
     height: 65vh;
}
































/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}